# node
node_modules/
.next/
out/
dist/

# python
__pycache__/
*.pyc
.venv/
venv/

# env
.env
.env.local

# mac/windows
.DS_Store
Thumbs.db

# logs
*.log

backend/app.db
backend/uploads/
frontend/node_modules/
frontend/.next/