# ======================
# Node / Frontend
# ======================
node_modules/
.next/
out/
dist/

# ======================
# Python / Backend
# ======================
__pycache__/
*.pyc
.venv/
venv/

# ======================
# Environment
# ======================
.env
.env.local

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log

# ======================
# Database
# ======================
backend/app.db

# ======================
# Uploads
# ======================
backend/uploads/

# env файлы
.env
.env.*